<form action="/enviar" method="POST" enctype="multipart/form-data">
<link rel="stylesheet" href="../static/style.css"> 
    
<label>Nome completo</label>
<input type="text" name="nome" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Telefone</label>
<input type="text" name="telefone">

<label>Currículo (PDF)</label>
<input type="file" name="curriculo">

<label>RG ou CPF</label>
<input type="file" name="documento">

<button type="submit">Enviar cadastro</button>

</form>